#mainImg {
    max-height: 720px;
    width: auto;
    
 
    /* The code below centers the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#myDiv {
    position: relative;
}

/* body{
    background-color: black !important;
} */

.center {
    text-align: center;
}

.alignC {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.myCard {
    height: 700px;
    width: auto;
}

.confirm{
    position: absolute;
    bottom: 0;
    right: 0;
}